@media screen and (max-width:39.9375em) {
  html {
    margin: 0 1rem;
  }
}
body {
  height:100vh;
  width: 100vw;
  background-color:#99cc33;
}
#app {
  background-color:#99cc33;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main h1 {
margin-top: 1rem;
text-align: center;
color: #633815;
font-size: 36pt;
font-family: 'Luckiest Guy', cursive;
}

#mainDesc {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: Nunito;
  color:#fff;
  font-size: 6pt;
  width:80%;
  background: #ad7e48;
  padding:10px;
  box-shadow: 15px 15px #633815;
}

#title2, #title {
  font-family: Luckiest guy;
  text-align: center;
  color:#633815;
  margin-bottom:6rem;
}

.name {
  font-family:Luckiest guy;
  font-size:30px;
  color:white;
  background: #633815;
  height:3rem;
  width: 10rem
}

.icons{
  width:150px;
  height:150px;
  background:#ad7e48
}

#Kaan, #Adamson, #Karen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Aimg, #Kcimg, #Kimg {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Adamson, #Karen, #Kaan {
  padding:20px;
}

#kcDesc, #aDesc, #kDesc {
  background: #ad7e48;
  box-shadow: 10px 10px #633815;
  font-family: Nunito;
  color:white;
  font-size:16pt;
  height:8rem;
  width:40rem;
}
