/*====================  ====================
  1. BASE
    1.1 Page Defaults
    1.2 UX Adjustments
    1.3 Core Styling
  2. LAYOUT
    2.1 Core Layout
    2.2 Small Screens
    2.3 Large Screens

====================  ====================*/
/*====================  ====================
  1. BASE
====================  ====================*/
/* 1.1 Page Defaults*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  /*background: rgb(216,216,216);*/
}

/*  1.2 UX Adjustments*/
img {
  vertical-align: middle;
}

/*  1.3 Core Styling */
/*====================  ====================
  2. LAYOUT:
====================  ====================*/
/*  2.1 Core Layout*/
.page {
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  background-color: white;
}

.page,
.page__header,
.page__main,
.page__footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page__header {
  grid-area: hd;
}

.page__main {
  grid-area: mn;
}

.page__footer {
  grid-area: ft;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.6rem;
  /* color: rgb(102, 51, 0); */
  color: rgb(249, 185, 107);
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

/*  2.2 Small Screens*/
@media screen and (max-width: 39.9375em) {
  html {
    margin: 0 1rem;
  }

  .page {
    max-width: 39.9375em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto 50%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: url(../imgs/theme/small-home-bg.svg) no-repeat center center fixed;
    background-size: cover;
  }

  /*hamburger menu btn*/
  .header__menu {
    position: fixed;
    top: 1em;
    right: 1em;
    transform: scale(.7);
  }

  /*dino world logo*/
  .img__logo {
    width: 100%;
    transform: scale(1.8);
  }

  /* Explore Button */
  #explore {
    padding-top: 12px;
    letter-spacing: 2.5px;
    text-shadow: 2px 2px black;
  }
}

/*  2.3 Large Screens*/
/*====================  ====================*/
/*====================  ====================*/
@media screen and (min-width: 40em) {
  .page {
    min-width: 40em;
    max-width: 60em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto 50%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: url(../imgs/theme/small-home-bg.svg) no-repeat center center fixed;
    background-size: cover;
}
/*dino world logo*/
.img__logo {
  width: 100%;
  transform: scale(2.5);
}
}
