/*====================  ====================
  ENABLE CSS grid in chrome
    - chrome://flags
    - enable experimental  web platform features
  1. BASE
    1.1 Page Defaults
    1.2 UX Adjustments
    1.3 Core Styling
  2. LAYOUT
    2.1 Core Layout
    2.2 Small Screens
    2.3 Large Screens

====================  ====================*/
/*====================  ====================
  1. BASE
====================  ====================*/
/* 1.1 Page Defaults*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  /*background: rgb(216,216,216);*/
}

/*  1.2 UX Adjustments*/
img {
  vertical-align: middle;
}

/*  1.3 Core Styling */
/*====================  ====================
  2. LAYOUT:
====================  ====================*/
/*  2.1 Core Layout*/
.page {
  margin: 0 auto;
  padding: 1.5rem;
  font-family: 'Nunito', sans-serif;
  /*background: rgb(255,255,255);*/
}

.page,
.page__header,
.page__main,
.page__footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page__header {
  grid-area: hd;
}

.page__main {
  grid-area: mn;
}

.page__footer {
  grid-area: ft;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.6rem;
  /* color: rgb(102, 51, 0); */
  color: rgb(249, 185, 107);
  text-transform: capitalize;
  letter-spacing: 2.5px;
  text-shadow: 1px 1px black;
}

#jafrica, #jeuroasia, #jnorthamerica{
  display: none;
}

#tnorthamerica, #tsouthamerica, #tafrica{
  display: none;
}

#cafrica, #caustralia, #cantarctica, #cnorthamerica, #csouthamerica, #cafrica, #ceuroasia{
  display: none;
}

/* Dino list */

#dinoList {
  width: 100vw;
  height: 100vh;
  background-color:#B2DE30;
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
  overflow: scroll;
  transition: left 1s;
}

/* Dino Alert */

#DinoAlert {
  position: absolute;
  top: 300px;
  left: 40px;
  z-index: 3;
  width: 300px;
  height: 150px;
  border-radius: 25px;
  background-color: #B2DE30;
  padding:10px;
  border:1px solid hotpink;
  transition: transform 1s;
  transform: scale(0);
}

#DinoAlert h2 {
  margin:0;
  font-size: 16pt;
  color: rgb(249, 185, 107);
  text-shadow: 1px 1px black;
}

#DinoAlert h4 {
  font-size: 11pt;
  margin:0;
  margin-top: 2px;
}

#DinoAlert span {
  color: hotpink;
  text-shadow: 1px 1px black;
}

/*  2.2 Small Screens*/
@media screen and (max-width: 39.9375em) {
  html {
    margin: 0 1rem;
  }

  .page {
    max-width: 39.9375em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto 40%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: rgb(51,153,204); /* blue = sea */
    background-size: cover;
  }

}

.page__main{
  grid-row-gap: 2em;
}

.prev__info{
  background-color: azure;
}

.map{
  width: 100%;
  transform: scale(1.5);
}


#sea path, .waves{
    fill: #5CADD6;
  animation: move 5s infinite ease-in-out;
	animation-delay:-3s;
}

@keyframes move {
  0% {transform:translateX(0);}
  50% {transform:translateX(-10px); opacity: .4;}
  100% {transform:translateX(0);}
}
/*  2.3 Large Screens*/
/*====================  ====================*/
/*====================  ====================*/
@media screen and (min-width: 40em) {
  .page {
    min-width: 40em;
    max-width: 60em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto 30%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: rgb(51,153,204); /* blue = sea */
    background-size: cover;
}

.map {
  width: 100%;
  transform: scale(2);
}

.heading{
  margin-bottom: 3em;
}
}
