/*====================  ====================
  1. BASE
    1.1 Page Defaults
    1.2 UX Adjustments
    1.3 Core Styling
  2. LAYOUT
    2.1 Core Layout
    2.2 Small Screens
    2.3 Large Screens

====================  ====================*/
/*====================  ====================
  1. BASE
====================  ====================*/
/* 1.1 Page Defaults*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  /*background: rgb(216,216,216);*/
}

/*  1.2 UX Adjustments*/
img {
  vertical-align: middle;
}

/*  1.3 Core Styling */
/*====================  ====================
  2. LAYOUT:
====================  ====================*/
/*  2.1 Core Layout*/
.page {
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  /*background: rgb(255,255,255);*/
  background-repeat: no-repeat center center fixed;
  background-size: cover;
}

.page,
.page__header,
.page__main,
.page__footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page__header {
  grid-area: hd;
}

.page__main {
  grid-area: mn;
}

.page__footer {
  grid-area: ft;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.6rem;
  /* color: rgb(102, 51, 0); */
  color: rgb(249, 185, 107);
  letter-spacing: 2.5px;
  text-shadow: 1px 1px black;
  text-transform: capitalize;
}

/* Dino list */

#dinoList {
  width: 100vw;
  height: 100vh;
  background-color:#B2DE30;
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
  overflow: scroll;
  transition: left 1s;
}


/*  2.2 Small Screens*/
@media screen and (max-width: 39.9375em) {
  html {
    margin: 0 1rem;
  }

  .page {
    max-width: 39.9375em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% auto 35%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: url(../imgs/theme/small-home-bg.svg) no-repeat center center fixed;
    background-size: cover;
  }

}

/*  2.3 Large Screens*/
/*====================  ====================*/
/*====================  ====================*/
/*back/left btn*/
.btn-left {
  position: fixed;
  top: 1em;
  left: 1em;
  transform: scale(.7);
}

/*hamburger menu*/
.btn-menu {
  position: fixed;
  top: 1em;
  right: 1em;
  transform: scale(.7);
}

.page__footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* Dinosaur */

#dinoImage{
  transform: scale(1);
  margin-top: 120px;
  transition: transform 1s, top 1s;
  /* position: relative;
  top: 0; */
  /* animation-name: dinoMove 3s infinite; */
}

/* @keyframes dinoMove {
  0% {
    top: 0;
  }
  50% {
    top:20;
  }
  100% {
    top:0;
  }
} */

#feedback {
  font-family: sans-serif;
  font-size: 36pt;
  color: peachpuff;
  transition: left 2s, top 2s, opacity 3s;
}

#food {
  width: 4em;
  height: 4em;
  position: absolute;
  top: -50px;
  left: 60%;
  transition: top 2s;
}

#food3 {
  display: none;
}

#splash {
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  top: 450px;
  left: 60%;
  transform: scale(.5);
  transition: transform 0.2s, opacity 0.3s;
}

/* food container*/
.menu__food {
  display: none;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

/*food btn*/
.btn__footer {
  width: 100%;
  height: auto;
}


#infoBox {
  border-radius: 25px;
  background-color: yellowgreen;
  display: none;
  font-size: 11pt;
  text-align: center;;
  padding:7px;
}

/*info - food - predator buttons*/
.menu__dino {
  display: none;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (min-width: 40em) {
  .page {
    min-width: 40em;
    max-width: 60em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% auto 35%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: url(../imgs/theme/small-home-bg.svg) no-repeat center center fixed;
    background-size: cover;
}
}
