/*====================  ====================
  1. BASE
    1.1 Page Defaults
    1.2 UX Adjustments
    1.3 Core Styling
  2. LAYOUT
    2.1 Core Layout
    2.2 Small Screens
    2.3 Large Screens

====================  ====================*/
/*====================  ====================
  1. BASE
====================  ====================*/
/* 1.1 Page Defaults*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  /*background: rgb(216,216,216);*/
}

/*  1.2 UX Adjustments*/
img {
  vertical-align: middle;
}

/*  1.3 Core Styling */
/*====================  ====================
  2. LAYOUT:
====================  ====================*/
/*  2.1 Core Layout*/
.page {
  margin: 0 auto;
  padding: 1.5rem;
  font-family: 'Nunito', sans-serif;
  /*background: rgb(255,255,255);*/
}

.page,
.page__header,
.page__main,
.page__footer {
  display: grid;
}

.page__header {
  grid-area: hd;
}

.page__main {
  grid-area: mn;
}

.page__footer {
  grid-area: ft;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.6rem;
  color: rgb(102, 51, 0);
  text-transform: capitalize;
}

/*  2.2 Small Screens*/
@media screen and (max-width: 39.9375em) {
  html {
    margin: 0 1rem;
  }

  .page {
    max-width: 39.9375em;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: "hd"
      "mn"
      "ft";
    /*background: url(../imgs/theme/small-home-bg.svg) no-repeat center center fixed;*/
    background: rgb(51,153,204); /* blue = sea */
    background-size: cover;
  }

  .main__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .btn__main{
    width: 15%;
    height: auto;
    position: fixed;
    right:2em;
  }

  .page__footer {
    grid-template-rows: 50% 50%;
  }

  .menu__periods {
    display: grid;
    grid-template-columns: 32% 32% auto;
  }

  .btn__footer {
    width: 100%;
    height: auto;
  }
}

/*  2.3 Large Screens*/
/*====================  ====================*/
/*====================  ====================*/
