/*====================  ====================
  1. BASE
    1.1 Page Defaults
    1.2 UX Adjustments
    1.3 Core Styling
  2. LAYOUT
    2.1 Core Layout
    2.2 Small Screens
    2.3 Large Screens

====================  ====================*/
/*====================  ====================
  1. BASE
====================  ====================*/
/* 1.1 Page Defaults*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  /*background: rgb(216,216,216);*/
}

/*  1.2 UX Adjustments*/
img {
  vertical-align: middle;
}

/*  1.3 Core Styling */
/*====================  ====================
  2. LAYOUT:
====================  ====================*/
/*  2.1 Core Layout*/
.page {
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  /*background: rgb(255,255,255);*/
}

.page,
.page__header,
.page__main,
.page__footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.page__header {
  grid-area: hd;
}

.page__main {
  grid-area: mn;
}

.page__footer {
  grid-area: ft;
}

.heading {
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.6rem;
  color: rgb(102, 51, 0);
  text-transform: capitalize;
}

/*  2.2 Small Screens*/
@media screen and (max-width: 39.9375em) {
  html {
    margin: 0 1rem;
  }

  .page {
    max-width: 39.9375em;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto 50%;
    grid-template-areas: "hd hd"
      "mn mn"
      "ft ft";
    background: rgb(51, 153, 204);
    /* blue = sea */
  }

  /*back or left btn*/
  .btn-left {
    position: fixed;
    top: 1em;
    left: 1em;
    transform: scale(.7);
  }

  /*hamburger menu*/
  .btn-menu {
    position: fixed;
    top: 1em;
    right: 1em;
    transform: scale(.7);
  }

  /*display map for selected continent*/
  .map {
    width: 100%;
    transform: scale(1.3);
    margin-top: 40px;
  }

  /*display map for period selection*/
  .img_map {
    width: 100%;
    transform: scale(1.3);
  }

  /*container for period btns*/
  .menu__periods {
    display: grid;
  }

  .btn-rounded {
    transform: scale(.5);
    padding-top: 12px;
  }
}

/*  2.3 Large Screens*/
/*====================  ====================*/
/*====================  ====================*/
